{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky-Register{% endblock %}
{% block page_content %}
<div class="page-header">
         <h1>Register</h1>
</div>
<div class="col-md-4">
<form method="post">
    email:<input name='email' type="email" />
    password:<input name='password' type="password" />
    <input type="submit"/>
</form>
</div>
{% endblock %}