{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}
 <script src="{{ url_for('.static',filename='jquery-3.1.1.min.js') }}"></script>

{% endblock %}
{% block title %}文章管理{% endblock %}




{#            <ul class="nav  nav-stacked navbar-left navbar-brand ">#}
{#                <li><a href="{{ url_for('main.courses',exhibit='course') }}" class="list-group-item ">课程列表</a></li>#}
{#                <li><a href="{{ url_for('main.courses',exhibit='column') }}" class="list-group-item ">课类列表</a></li>#}
{##}
{#            </ul>#}



{% block page_content %}

<div class="page-header"><h3><span class="glyphicon glyphicon-book"></span>文章管理:</h3></div>
<a class="btn btn-info" href="{{ url_for('.articles',exhibit='save') }}">来看看保存的微内容吧</a>
{% if exhibit=="save" %}
    <table class="table table-condensed table-hover clearfix">
              <caption>微内容保存列表

              </caption>
              <thead>
                <tr>

                  <th>微内容名</th>

                  <th>摘要/链接</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccontent in content_save %}

                <tr>
                  <td>{{ content_save[ccontent]['name'] }}</td>

                  <td><h5><small>{{ content_save[ccontent]['brief'] }}</small></h5>
{#                      <a href="{{ ccontent[4] }}" target="_blank">微内容链接</a>#}
                      </td>
                  <td>
{#                  <a type="button" class="btn btn-info btn-sm right" href="{{ url_for('main.articles',exhibit='articles',program=program,section=section,content=ccontent[1]) }}">查看</a>#}
                  <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.articles',exhibit='addart_content',save=ccontent) }}">继续编辑</a>

{#                      <button class="btn btn-danger btn-sm  " data-toggle="modal" data-target="#content{{ ccontent[1] }}">删除</button>#}
{#                      <div class="modal fade" id="content{{ccontent[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#                            <div class="modal-dialog">#}
{#                                <div class="modal-content">#}
{#                                    <div class="modal-header">#}
{#                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                                            &times;#}
{#                                        </button>#}
{#                                        <h4 class="modal-title" id="myModalLabel">#}
{#                                            警告#}
{#                                        </h4>#}
{#                                    </div>#}
{#                                    <div class="modal-body">#}
{#                                        您将删除该微内容,确定删除?#}
{#                                    </div>#}
{#                                    <div class="modal-footer">#}
{#                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭#}
{#                                        </button>#}
{#                                        <a type="button" class="btn btn-primary  right"   href="{{ url_for('main.articles',exhibit='program',program=program,section=section,delete=ccontent) }}">#}
{#                                            确定#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div><!-- /.modal-content -->#}
{#                            </div><!-- /.modal -->#}
{#                        </div>#}

                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{% endif %}





    {% if exhibit=='article'%}

        <table class="table">
              <caption>课程列表</caption>
              <thead>
                <tr>

                  <th>课程名</th>
                  <th>icon</th>
                  <th>封面</th>
                  <th>浏览量</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccourse in courses %}
                <tr>
                  <td><a href="{{ url_for('main.courses',exhibit='courses',column=column,section=section,course=ccourse[1]) }}">{{ ccourse[0] }}</a></td>
                  <td>暂无</td>
                  <td>暂无</td>
                  <td>{{ ccourse[4] }}</td>
                  <td>
                  <a type="button" class="btn btn-info right" href="{{ url_for('main.courses',exhibit='courses',column=column,section=section,course=ccourse[1]) }}">查看</a>
                  <a type="button" class="btn btn-default  right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,section=section,course=ccourse[1],edit=ccourse[:-1]) }}">修改</a>
                  <a type="button" class="btn btn-danger  right"   href="{{ url_for('main.courses',exhibit='column',column=column,section=section,delete=ccourse) }}">删除</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>


    {% endif %}

    {% if exhibit=='addart_program' or exhibit=='editart_program' %}
        <script src="{{ url_for('.static',filename='jquery-3.1.1.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                var videoids= new Number();
                 $("#programvideobutton" ).on( "click", function( event ) {

                    // $(this).hide();
                    var obj = document.getElementsByName('programvideo');
                    var videoimg='';


                    for(var i=0;i<obj.length;i++){

                         if(obj[i].checked) {
                             videoimg = obj[i].id;

                             videoids = obj[i].id;


                         }
                    }

                    a=document.getElementById('programpreview');

                    if(videoimg[videoimg.length-5]!='s'){
                        videoimg=videoimg.slice(0,-4);
                    }
                    else if(videoimg[videoimg.length-5]=='s'){
                        videoimg =videoimg.slice(0,-6);
                    }
                    videoimg +='_b.jpg';

                    a.src=videoimg;

                });
            })
    </script>
        <body >

        <form name='program' class="form" role="form" method="post" enctype="multipart/form-data" >

                <div class="row2">
                    <h5>栏目名:</h5>
                    <input class="form-control" name="program" type="text" {% if exhibit=='editart_program' %}value="{{ programeditresp['name'] }}"{% endif %}>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                    <div class="col-md-6 " style="padding-left:0;">
                        <h5>栏目宣传片:</h5>
                        <button id='yulan' data-toggle="modal" data-target="#videoshow" type="button" class="btn btn-info btn-sm align-center" onclick="" >预览视频</button>
                        <div class="modal fade" id="videoshow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="width: 1600px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            选择视频
                                        </h4>
                                    </div>
                                    <div class="modal-body" style="max-height: 400px;overflow: auto;">
                                        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
                                        <script>
                                            $(document).ready(function(){
                                                $('#yulan').click(function(){
                                                                                 // $(this).hide();
                                                    var obj = document.getElementsByName('programvideo');
                                                    var videoimg='';
                                                    var videoids = 0



                                                    for(var i=0;i<obj.length;i++){

                                                         if(obj[i].checked) {
                                                             videoimg = obj[i].value;

                                                             videoids = obj[i].value;


                                                         }
                                                    }


                                                    {% for vvideo in videos %}

                                                        if ("{{ vvideo['id']|int }}"==videoids){
                                                            var divvideo = document.getElementById('plv_');
                                                            divvideo.setAttribute('id','plv_'+  "{{ vvideo['url'] }}")

                                                        }
                                                    {% endfor %}
                                                    vids = $("[id^='plv_']");

                                                    for(var i=0;i<vids.length;i++){
                                                        var vid = vids[i].id;

                                                        $.ajax({

                                                            url: 'https://api.kquestions.com/video/sign',
                                                            type: 'GET',
                                                            data: {"vid":vid},
                                                            success: function(data){

                                                                jQuery.ajax({
                                                                      url: "https://player.polyv.net/script/polyvplayer.min.js",
                                                                      dataType: "script",
                                                                      cache: true
                                                                }).done(function() {
                                                                  var player = polyvObject('#'+'plv_'+data['vid']).videoPlayer({
                                                                        'width': '900',
                                                                        'height': '500',
                                                                        'vid': data['vid'],
                                                                        'ts': data['ts'],
                                                                        'sign': data['sign']
                                                                    });
                                                                });

                                                            },
                                                            error: function(e){
                                                                alert('error')
                                                            }

                                                        });

                                                    }
                                                })



                                            })
                                        </script>
                                        <div id='plv_'></div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    <div class="well" style="background:#FFFFFF;height: 500px;width:100%;">
                        {% if exhibit=='editart_program' %}
                            {% for vvideo in videos %}

                                {% if vvideo['id']|int==programeditresp['video']['id']|int %}

                                     <img id='programpreview' data-toggle="modal" data-target="#video"  {% if exhibit=='editart_program' and vvideo['preview'] %}src="{{ vvideo['preview'][0:-4]+'_b.jpg' }}"{% else %}src=""{% endif %} height="100%" width="100%">

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if exhibit=='addart_program' %}
                             <img id='programpreview' data-toggle="modal" data-target="#video" src="{{ url_for('.static',filename='addimg/projectvideo.jpg') }}" height="100%" width="100%">
                        {% endif %}
                    </div>

                        <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            选择视频
                                        </h4>
                                    </div>
                                    <div class="modal-body" style="max-height: 400px;overflow: auto;">
                                        <table class="table table-condensed table-hover clearfix">

                                                          <thead>
                                                                <tr>
                                                                  <th></th>
                                                                  <th>缩略图</th>
                                                                  <th>标题/时长</th>
                                                                  <th>上传者</th>
                                                                  <th>视频状态</th>
                                                                  <th>时间/大小</th>
                                                                </tr>
                                                          </thead>
                                                            <tbody>
                                                            {% for vvideo in videos %}
                                                                <tr onclick='document.getElementById("{{ vvideo['preview'] }}").click()'>
                                                                    <th><input name='programvideo' id="{{ vvideo['preview'] }}" type="radio" value="{{ vvideo['id'] }}"  {% if programeditresp and vvideo['id']==programeditresp['video']['id'] %} checked="checked"{% endif %}></th>
                                                                    <th><img src="{{ vvideo['preview'] }}" width="130px" height='72px' > </th>
                                                                    <th><h5>{{ vvideo['name'] }}</h5><h5><small>{{ vvideo['length']//3600 }}时{{ (vvideo['length']%3600)//60 }}分{{ (vvideo['length']%3600)%60 }}秒</small></h5></th>
                                                                    <th>nobody</th>
                                                                    <th>none</th>
                                                                    <th>{{ vvideo['created_at'] }}<h5><small>{{ vvideo['filesize']/(1024*1024) }}MB</small></h5></th>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                         <a type="button" id="programvideobutton" class="btn btn-primary  right" data-dismiss="modal">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                    </div>




                        <div class="col-md-6" style="padding-right:10px;">
                            <h5>栏目封面:</h5>


                            <input  type="file" name="programbanner" id="doc" multiple="multiple" style="display: none;" onchange="javascript:setImagePreview();">
                            <div class="well" style="background:#FFFFFF;height: 500px;width:100%;">
                                {% if exhibit=='addart_program' %}
                                    <img id="preview" src="{{ url_for('.static',filename='addimg/projectimg.jpg') }}" width="100%" height="100%" style="display: block;" onclick="document.getElementById('doc').click()" />
                                {% elif exhibit == 'editart_program' %}
                                    <img id="preview" src="{{ programeditresp['banner'] }}" width="100%" height="100%" style="display: block;" onclick="document.getElementById('doc').click()" />
                                {% endif %}
                            </div>

                        </div>
                    </div>
            </div>
                <script type="text/javascript">
                    //下面用于图片上传预览功能
                    function setImagePreview(avalue) {
                    //input
                        var docObj = document.getElementById("doc");
        //img

                        var imgObjPreview = document.getElementById("preview");
                        //div
                        var divs = document.getElementById("localImag");
                        if (docObj.files && docObj.files[0]) {
                            //火狐下，直接设img属性
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var data = e.target.result;

                                    //加载图片获取图片真实宽度和高度
                                    var image = new Image();
                                    image.onload=function(){
                                        var width = image.width;
                                        var height = image.height;

                                         if(width==1920 && height==1080 || width == 1280&&height==720) {
                                             alert('图片上传成功');
                                             imgObjPreview.style.display = 'block';
{#                                            imgObjPreview.style.width = '533px';#}
{#                                            imgObjPreview.style.height = '300px';#}
                                            //imgObjPreview.src = docObj.files[0].getAsDataURL();
                                            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                                            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
                                         }
                                        else{
                                             doc.value="";
                                             alert('你上传的图片不符合要求')
                                         }
                                    };
                                    image.src= data;
                                };
                                reader.readAsDataURL(docObj.files[0]);

                        } else {
                            //IE下，使用滤镜
                            docObj.select();
                            var imgSrc = document.selection.createRange().text;
                            var localImagId = document.getElementById("localImag");
                            //必须设置初始大小
                            localImagId.style.width = "533px";
                            localImagId.style.height = "300px";
                            //图片异常的捕捉，防止用户修改后缀来伪造图片
                            try {
                                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                            } catch(e) {
                                alert("您上传的图片格式不正确，请重新选择!");
                                return false;
                            }
                            imgObjPreview.style.display = 'none';
                            document.selection.empty();
                        }
                        return true;
                    }
                </script>
        <div class="row2">
            <h5>栏目描述:</h5>
{#            <textarea><script>UE.getEditor('editor').getContent()</script></textarea>#}
            {% if exhibit=='editart_program' %}
                <button id='programbbb' type='button' class="btn btn-info" onclick="insertht()" >恢复原内容</button>
            {% endif %}
                <script id="editor1" type="text/plain" style="height:500px;width:100%;"></script>
    {#<button onclick="alert(UE.getEditor('editor').getContent())">获得整个html的内容</button>#}
                 <p style='display: none;' id='edithtml2' >{{ programeditresp['desc'] }}</p>

            <script type="text/javascript">
                //实例化编辑器
                //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                var ue = UE.getEditor('editor1', {
                    serverUrl: "/upload/"
                });

                        // $(this).hide();
                function insertht() {
                    var edithtml = document.getElementById('edithtml2').innerText;


                    UE.getEditor('editor1').setContent(edithtml)
                }


            </script>
        </div>

        <div class="row2">
            <h5>摘要:</h5>
            <textarea class='form-control' name="programbrief"  rows="3">{% if exhibit=='editart_program' %}{{ programeditresp['brief'] }}{% endif %}</textarea>
        </div>
        <br>
        <div class="row2">
            <div style="margin: 0 auto;width: 0%">
                <input class='btn btn-info'  id='programsubmit' type="submit" value="提交" onclick="javascript:{this.disabled=true;document.program.submit();}">
            </div>
        </div>

        </form>

        </body>
    {% endif %}
    {% if exhibit=='addart_section' %}
    <h3>添加章节:</h3>
        {{ wtf.quick_form(form2) }}
    {% endif %}
{#    {% if exhibit=='addart_content' %}#}
{#    <h3>添加微内容:</h3>#}
{#        <form name='microcontent' class="form" role="form" method="post" enctype="multipart/form-data" >#}
{#        <h5>微内容名</h5><input name="content1" type="text" >#}
{#        <h5>微内容banner</h5>#}
{#                <div class="row2">#}
{#                    <h5>课程封面:</h5>#}
{##}
{#                    <input  type="file" name="123" id="doc" multiple="multiple" style="" onchange="javascript:setImagePreview();">#}
{#                    {% if exhibit=='addclass' %}#}
{#                        <img id="preview" src="" width="533" height="300" style="display: block;" />#}
{#                    {% elif exhibit == 'editclass' %}#}
{#                        <img id="preview" src="{{ courseeditresp['banner'] }}" width="533" height="300" style="display: block;" />#}
{#                    {% endif %}#}
{##}
{##}
{#                </div>#}
{#                <script type="text/javascript">#}
{#                    //下面用于图片上传预览功能#}
{#                    function setImagePreview(avalue) {#}
{#                    //input#}
{#                        var docObj = document.getElementById("doc");#}
{#        //img#}
{##}
{#                        var imgObjPreview = document.getElementById("preview");#}
{#                        //div#}
{#                        var divs = document.getElementById("localImag");#}
{#                        if (docObj.files && docObj.files[0]) {#}
{#                            //火狐下，直接设img属性#}
{#                            imgObjPreview.style.display = 'block';#}
{#                            imgObjPreview.style.width = '533px';#}
{#                            imgObjPreview.style.height = '300px';#}
{#                            //imgObjPreview.src = docObj.files[0].getAsDataURL();#}
{#                            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式#}
{#                           imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);#}
{#                        } else {#}
{#                            //IE下，使用滤镜#}
{#                            docObj.select();#}
{#                            var imgSrc = document.selection.createRange().text;#}
{#                            var localImagId = document.getElementById("localImag");#}
{#                            //必须设置初始大小#}
{#                            localImagId.style.width = "533px";#}
{#                            localImagId.style.height = "300px";#}
{#                            //图片异常的捕捉，防止用户修改后缀来伪造图片#}
{#                            try {#}
{#                                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";#}
{#                                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;#}
{#                            } catch(e) {#}
{#                                alert("您上传的图片格式不正确，请重新选择!");#}
{#                                return false;#}
{#                            }#}
{#                            imgObjPreview.style.display = 'none';#}
{#                            document.selection.empty();#}
{#                        }#}
{#                        return true;#}
{#                    }#}
{#                </script>#}
{#        <h5>微内容</h5>#}
{#            <textarea><script>UE.getEditor('editor').getContent()</script></textarea>#}
{#            <script id="articleeditor" type="text/plain" style="height:500px;width:1000px;"></script>#}
{#<button onclick="alert(UE.getEditor('editor').getContent())">获得整个html的内容</button>#}
{##}
{##}
{##}
{#            <script type="text/javascript">#}
{#                //实例化编辑器#}
{#                //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例#}
{#                var ue = UE.getEditor('articleeditor', {#}
{#                    serverUrl: "/upload/"#}
{#                });#}
{#            </script>#}
{##}
{#            <h5>课程标签:</h5>#}
{#            <button data-toggle="modal" data-target="#tags" type="button" class="btn btn-info btn-sm align-center"  >课程标签+</button>#}
{##}
{#                <div class="well">#}
{#                    {% if exhibit=='addart_content' %}#}
{#                        <p id="tagcontent"></p>#}
{#                    {% elif exhibit=='editart_content' %}#}
{#                        <p id="tagcontent">{% for i in editresp['tags'] %}{{ i['name']+',' }}{% endfor %}</p>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <script src="{{ url_for('.static',filename='jquery-3.1.1.min.js') }}"></script>#}
{#                <script>#}
{#                    $(document).ready(function(){#}
{#                                $("#tagbutton" ).on( "click", function( event ) {#}
{#                                    // $(this).hide();#}
{#                                    var obj = document.getElementsByName('tagtag');#}
{#                                    var s='';#}
{#                                    ids=[];#}
{#                                    for(var i=0;i<obj.length;i++){#}
{#                                         if(obj[i].checked) {#}
{#                                             s += obj[i].id + ',';#}
{#                                             ids.push(obj[i].id)#}
{#                                         }#}
{#                                    }#}
{##}
{#                                    document.getElementById('tagcontent').innerText= s;#}
{##}
{#                                });#}
{#                    });#}
{#                </script>#}
{##}
{##}
{#                <div class="modal fade" id="tags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#                    <div class="modal-dialog">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">#}
{#                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                                    &times;#}
{#                                </button>#}
{#                                <h4 class="modal-title" id="myModalLabel">#}
{#                                    选择啦#}
{#                                </h4>#}
{#                            </div>#}
{#                            <div class="modal-body" style="max-height: 400px;overflow: auto;">#}
{#                                <ul class="list-group">#}
{#                                    {% for i in form8.tagresp %}#}
{#                                        <div class="col-md-4">#}
{#                                            <li class="list-group-item">#}
{#                                                {% if exhibit=='editart_content' %}#}
{#                                                <input  id="{{ i['name'] }}" type="checkbox" value="{{ i['id']  }}" {% for j in editresp['tags']%}{%if editresp and i['id'] ==j['id']  %}name='tagtag' checked="checked"{% endif %}{% endfor %}>#}
{#                                                {% elif exhibit=='addart_content' %}#}
{#                                                <input  id="{{ i['name'] }}" type="checkbox" value="{{ i['id']  }}" name="tagtag">#}
{#                                                {% endif %}#}
{#                                                {{ i['name'] }}#}
{#                                            </li>#}
{#                                        </div>#}
{##}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="modal-footer">#}
{#                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭#}
{#                                </button>#}
{#                                 <a id='tagbutton' type="button" class="btn btn-primary  right" onclick="" data-dismiss="modal" >#}
{#                                    确定#}
{#                                </a>#}
{#                            </div>#}
{#                        </div><!-- /.modal-content -->#}
{#                    </div><!-- /.modal -->#}
{#                </div>#}
{#        <input type="submit" value="提交">#}
{#        </form>#}
{#    {% endif %}#}

    {% if exhibit=='editart_section' %}
    <h3>修改章节:</h3>
        {{ wtf.quick_form(form6) }}
    {% endif %}
    {% if exhibit=='editart_content' or exhibit=='addart_content' %}


        <script>
            function myload(){

                document.getElementById("mybbb").click()
            }
        </script>
        <body >

{#        <button id="copy_button" type='button' data-clipboard-target="copy_textarea"><b>复制到剪贴板</b></button><br/><br/>#}
{#                 <textarea id="copy_textarea" rows="20" cols="100"></textarea>#}
{##}
{##}
{#        <script type="text/javascript"src="//cdn.bootcss.com/zeroclipboard/2.3.0/ZeroClipboard.js"></script>#}
{#        <script type="text/javascript">#}
{#                 //定义一个新的复制对象#}
{#                 var clip = new ZeroClipboard( document.getElementById("copy_button"), {#}
{#                   moviePath:"//cdn.bootcss.com/zeroclipboard/2.3.0/ZeroClipboard.swf"//设置ZeroClipboard.swf位置#}
{#                 });#}
{##}
{#                 //复制内容到剪贴板成功后的操作#}
{#                 clip.on('complete', function(client, args) {#}
{#                    alert("复制成功，请将此视频地址粘贴到编辑器的超链接中.");#}
{#                 });#}
{#        </script>#}
        <form name='microcontent' class="form" role="form" method="post" enctype="multipart/form-data" >
                <div class="row2">
                    <h5>微内容名</h5>
                    <input class="form-control" name="content1" type="text" {% if request.args.get('save') %}value="{{ content_save[request.args.get('save')]['name'] }}"{% endif %} {% if exhibit=='editart_content' %}value="{{ editresp['name'] }}"{% endif %}>
                </div>

                <div class="row2">

                    <h5>微内容封面</h5>
{#                    {% if request.args.get('save') %}#}
{#                         <input  type="file" name="123" id="doc" multiple="multiple" style="" value="{{ content_save[1] }}" onchange="javascript:setImagePreview();">#}
{#                    {% endif %}#}
                    <input  type="file" name="123" id="doc" multiple="multiple" style="" onchange="javascript:setImagePreview();">
                    {% if exhibit=='addart_content' %}
                        <img id="preview" src="" width="533" height="300" style="display: block;" />
                    {% elif exhibit == 'editart_content' %}
                        <img id="preview" src="{{ editresp['banner'] }}" width="533" height="300" style="display: block;" />
                    {% endif %}


                </div>
                <script type="text/javascript">
                    //下面用于图片上传预览功能
                    function setImagePreview(avalue) {
                    //input
                        var docObj = document.getElementById("doc");
        //img

                        var imgObjPreview = document.getElementById("preview");
                        //div
                        var divs = document.getElementById("localImag");
                        if (docObj.files && docObj.files[0] && docObj.files[0].size < 1024*1024) {
                            if (docObj.files && docObj.files[0]) {

                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var data = e.target.result;
                                    //加载图片获取图片真实宽度和高度
                                    var image = new Image();
                                    image.onload=function(){
                                        var width = image.width;
                                        var height = image.height;

                                         if(width==1920 && height==1080 || width == 1280&&height==720) {
                                             alert('图片上传成功');
                                             imgObjPreview.style.display = 'block';
                                            imgObjPreview.style.width = '533px';
                                            imgObjPreview.style.height = '300px';
                                            //imgObjPreview.src = docObj.files[0].getAsDataURL();
                                            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                                            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
                                         }
                                        else{
                                             doc.value="";
                                             alert('你上传的图片不符合要求')
                                         }
                                    };
                                    image.src= data;
                                };
                                reader.readAsDataURL(docObj.files[0]);



                                //火狐下，直接设img属性

                            } else {
                                //IE下，使用滤镜
                                docObj.select();
                                var imgSrc = document.selection.createRange().text;
                                var localImagId = document.getElementById("localImag");
                                //必须设置初始大小
                                localImagId.style.width = "533px";
                                localImagId.style.height = "300px";
                                //图片异常的捕捉，防止用户修改后缀来伪造图片
                                try {
                                    localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                                } catch (e) {
                                    alert("您上传的图片格式不正确，请重新选择!");
                                    return false;
                                }
                                imgObjPreview.style.display = 'none';
                                document.selection.empty();
                            }
                        }
                        else{
                            doc.value="";
                            alert('图像大小必须小于1M')
                        }
                        return true;
                    }
                </script>
                <div class="row2">
                    <h5>微内容</h5>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#videos">文章内视频选择</button>


                    <div class="modal fade" id="videos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            选择啦
                                        </h4>
                                    </div>
                                    <div class="modal-body" style="max-height: 400px;overflow: auto;">

                                        <table class="table">

                                                          <thead>
                                                                <tr>


                                                                  <th>标题/时长</th>
                                                                  <th>上传者</th>
                                                                  <th>视频状态</th>
                                                                  <th>时间/大小</th>
                                                                    <th>操作</th>
                                                                </tr>
                                                          </thead>
                                                            <tbody>
                                                            {% for vvideo in videos %}
                                                                <tr>


                                                                    <th><h5>{{ vvideo['name'] }}</h5><h5><small>{{ vvideo['length']//3600 }}时{{ (vvideo['length']%3600)//60 }}分{{ (vvideo['length']%3600)%60 }}秒</small></h5></th>
                                                                    <th>nobody</th>
                                                                    <th>none</th>
                                                                    <th>{{ vvideo['created_at'] }}<h5><small>{{ vvideo['filesize']/(1024*1024) }}MB</small></h5></th>
                                                                    <th>
                                                                        {{ vvideo['url'] }}




                                                                    </th>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                         <a id='artvideobutton' type="button" class="btn btn-primary  right" onclick="" data-dismiss="modal" >
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
        {#            <textarea><script>UE.getEditor('editor').getContent()</script></textarea>#}
                <script type="text/javascript">
                        //实例化编辑器
                        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                        var ue = UE.getEditor('editor1', {
                            serverUrl: "/upload/"
                        });

                                                   // $(this).hide();
                        function insertht() {
                            var edithtml = document.getElementById('edithtml').innerText;


                            UE.getEditor('editor1').setContent(edithtml)
                        }


                    </script>
                    {% if exhibit=='editart_content' %}
                        <button id='mybbb' type='button' class="btn btn-info" onclick="insertht()" >恢复原内容</button>
                        <script>
                        UE.getEditor('editor1').ready(function() {
                            //this是当前创建的编辑器实例

                            this.setContent({{ editresp['text']|tojson }});

                        });
                        </script>
                    {% endif %}
                    {% if request.args.get('save') %}

                            <script>
                            UE.getEditor('editor1').ready(function() {
                                //this是当前创建的编辑器实例

                                this.setContent({{ content_save[request.args.get('save')]['contenthtml']|tojson }});

                            });
                            </script>
                    {% endif %}
                        <script id="editor1" type="text/plain" style="height:500px;width:100%;"></script>
            {#<button onclick="alert(UE.getEditor('editor').getContent())">获得整个html的内容</button>#}
                         <p style='display: none;' id='edithtml' >{{ editresp['text'] }}</p>


                </div>
            <div class="row2">
                <h5>课程标签:</h5>
                <button data-toggle="modal" data-target="#tags" type="button" class="btn btn-info btn-sm align-center"  >课程标签+</button>

                    <div class="well">
                        {% if exhibit=='addart_content' %}
                            {% if request.args.get('save') %}
                                <p id="tagcontent2">{% if content_save[request.args.get('save')]['tag_id'] %}{% for i in content_save[request.args.get('save')]['tag_id'] %}{{ i['name']+',' }}{% endfor %}{% endif %}</p>
                            {% else %}
                                <p id="tagcontent2"></p>
                            {% endif %}
                        {% elif exhibit=='editart_content' %}
                            <p id="tagcontent2">{% for i in editresp['tags'] %}{{ i['name']+',' }}{% endfor %}</p>
                        {% endif %}
                    </div>
                    <script src="{{ url_for('.static',filename='jquery-3.1.1.min.js') }}"></script>
                    <script>
                        $(document).ready(function(){
                                    $("#tagbutton" ).on( "click", function( event ) {
                                        // $(this).hide();
                                        var obj = document.getElementsByName('tagtag');
                                        var s='';
                                        ids=[];
                                        for(var i=0;i<obj.length;i++){
                                             if(obj[i].checked) {
                                                 s += obj[i].id + ',';
                                                 ids.push(obj[i].id)
                                             }
                                        }

                                        document.getElementById('tagcontent2').innerText= s;

                                    });
                        });
                    </script>


                    <div class="modal fade" id="tags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        选择啦
                                    </h4>
                                </div>
                                <div class="modal-body" style="max-height: 400px;overflow: auto;">
                                    <ul class="list-group">
                                        {% for i in tagresp %}
                                            <div class="col-md-4">
                                                <li class="list-group-item">
                                                    {% if exhibit=='editart_content' %}
                                                    <input  id="{{ i['name'] }}" type="checkbox" value="{{ i['id']  }}" name='tagtag' {% for j in editresp['tags']%}{%if editresp and i['id'] ==j['id']  %}checked="checked"{% endif %}{% endfor %}>
                                                    {% elif exhibit=='addart_content' %}
                                                        {% if request.args.get('save') %}
                                                            <input  id="{{ i['name'] }}" type="checkbox" value="{{ i['id']  }}" name='tagtag' {% if content_save[request.args.get('save')]['tag_id'] %}{% for j in content_save[request.args.get('save')]['tag_id']%}{%if i['id'] ==j['id']  %}checked="checked"{% endif %}{% endfor %}{% endif %}>
                                                        {% else %}
                                                            <input  id="{{ i['name'] }}" type="checkbox" value="{{ i['id']  }}" name="tagtag">
                                                        {% endif %}
                                                    {% endif %}
                                                    {{ i['name'] }}
                                                </li>
                                            </div>

                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                     <a id='tagbutton' type="button" class="btn btn-primary  right" onclick="" data-dismiss="modal" >
                                        确定
                                    </a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
            </div>
        <div class="row" >
            <div class="col-md-6">
                <h5>所属栏目:</h5>
                <select class="form-control" id="belongproject" name='project_id' onchange="changesection()" >
                    <OPTION id="-1" VALUE="-1">请选择所属栏目 </OPTION>
                    {% for i in belongproject %}
                        <option value="{{ i['name']+'.'+i['id']|string }}" id="{{ i['id'] }}" {% if request.args.get('save') and i['id']|string==content_save[request.args.get('save')]['project_id'] %}selected="selected"{% elif editresp and i['id']==editresp['project_id'] %}selected="selected"{% endif %}>{{ i['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <h5>所属章节:</h5>
                <select class="form-control" id="belongsection" name='section_id'>
                    <OPTION VALUE="-1">请选择所属章节 </OPTION>
{#                            {% for i in form8.belongchapter %}#}
{#                                <option value="{{ i['name'] }}" id="{{ i['id'] }}" {% if editresp and i['id']==editresp['chapter_id'] %}selected="selected"{% endif %}>{{ i['name'] }}</option>#}
{#                            {% endfor %}#}
                </select>
            </div>
        </div>
            {% if exhibit=='editart_content' %}
            <script>
            function changesection(){
                var projectid = $(":selected","#belongproject").attr('id');
                var sltsection = document.getElementById('belongsection');
                var sectionlist = {{ belongsection|tojson }};
                var j = 1;
                sltsection.length=1;
                for(var i=0;i<sectionlist.length;i++){

                    if (sectionlist[i]['project_id'] == projectid){

                        op = new Option(sectionlist[i]['name'],sectionlist[i]['name']+'.'+sectionlist[i]['id']);

                        sltsection[j] = op;
                        sltsection[j].setAttribute('id',sectionlist[i]['id']);
                        if (sltsection[j]['id'] == {{ editresp['section_id']|tojson }}){
                            sltsection[j].setAttribute('selected',true);
                        }
                        j++;
                    }

                 }
            }
            </script>
            <script>changesection()</script>
            {% elif exhibit=='addart_content' %}

                {% if request.args.get('save') %}

                    <script>
                    function changesection(){
                        var projectid = $(":selected","#belongproject").attr('id');
                        var sltsection = document.getElementById('belongsection');
                        var sectionlist = {{ belongsection|tojson }};
                        var j = 1;
                        sltsection.length=1;
                        for(var i=0;i<sectionlist.length;i++){

                            if (sectionlist[i]['project_id'] == projectid){

                                op = new Option(sectionlist[i]['name'],sectionlist[i]['name']+'.'+sectionlist[i]['id']);

                                sltsection[j] = op;
                                sltsection[j].setAttribute('id',sectionlist[i]['id']);


                                     if (sltsection[j]['id'] == {{ content_save[request.args.get('save') ]['section_id']|tojson }}){
                                            sltsection[j].setAttribute('selected',true);
                                        }

                                j++;
                            }

                         }
                    }

                    </script>
                    <script>changesection()</script>
                {% else %}
                    <script>
                        function changesection(){
                            var projectid = $(":selected","#belongproject").attr('id');
                            var sltsection = document.getElementById('belongsection');
                            var sectionlist = {{ belongsection|tojson }};
                            var j = 1;
                            sltsection.length=1;
                            for(var i=0;i<sectionlist.length;i++){

                                if (sectionlist[i]['project_id'] == projectid){

                                    op = new Option(sectionlist[i]['name'],sectionlist[i]['name']+'.'+sectionlist[i]['id']);

                                    sltsection[j] = op;
                                    sltsection[j].setAttribute('id',sectionlist[i]['id']);


                                    j++;
                                }

                             }
                        }

                    </script>
                {% endif %}

        {% endif %}
        <div class="row2">
            <h5>微内容描述</h5>
            {% if exhibit=='editart_content' %}
                <textarea class="form-control" rows="3" name="contentbrief"  >{{ editresp['brief'] }}</textarea>
            {% elif  exhibit=='addart_content'%}
                {% if request.args.get('save') %}

                    <textarea class="form-control" rows="3" name="contentbrief"  >{{ content_save[request.args.get('save')]['brief'] }}</textarea>
                {% else %}
                     <textarea class="form-control" rows="3" name="contentbrief"  ></textarea>
                {% endif %}
            {% endif %}
        </div>
        <br>
        <div class="row2">
            <div style="margin:0 auto;width:0%;">
                <input class="btn btn-info" id='contentsubmit' type="submit" value="提交" onclick="javascript:{this.disabled=true;document.microcontent.submit();}">
            </div>
        </div>
        </form>
        </body>

    {% endif %}
    {% if exhibit=='articles' or exhibit=='program' %}







        <ol class="breadcrumb ">
            <li><a href="{{ url_for('main.articles',exhibit='program',program=-1)}}">Home</a></li>
            {% if program !=-1 %}<li><a href="{{ url_for('main.articles',exhibit='program',program=program)}}">{% for i in programs %}{% if i[1]==program %}{{ i[0] }}{% endif %}{% endfor %}</a></li>
            {% if section !=-1 %}<li><a href="{{ url_for('main.articles',exhibit='program',program=program,section=section)}}">{% for i in sections %}{% if i[1]==section %}{{ i[0] }}{% endif %}{% endfor %}</a></li>
            {% if content !=-1 %}<li>{% for i in contents %}{% if i[1]==content %}{{ i[0] }}{% endif %}{% endfor %}</li>
            {% endif %}
            {% endif %}
            {% endif %}


        </ol>
        {% if exhibit=='articles'%}
        <div class="container">
        {% for i in contents %}{% if i[1]==content %}{{ i[3] }}{% endif %}{% endfor %}

        </div>
        {% endif %}


    {% if exhibit=='program' %}

        <div  class="panel panel-default" style="margin-bottom:0;">
            <div   class="panel-body " >
        {% if program==-1 %}

            <table  class="table table-condensed table-hover clearfix container">
              <caption>栏目列表
                <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.articles',exhibit='addart_program') }}">添加栏目+</a>
              </caption>
              <thead>
                <tr>
                    <th>序号</th>
                  <th>栏目名</th>

                  <th>封面</th>
                    <th>摘要</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody id='left' class='container'>
              {% for pprogram in programs  %}

                <tr>

                        <td  data-toggle="modal" data-target="#programindex{{ pprogram[1] }}">
                            {{ pprogram[6] }}
                        </td>
                        <div class="modal fade" id="programindex{{pprogram[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            修改序号
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="contentindex" method='post' action="{{ url_for('.articles',exhibit='program') }}">
                                        序号:<input type="text" name="programindex" class="form-control">
                                            <input type="text" name='id' value="{{ pprogram[1] }}" style="display: none">
                                            <input type="submit" class="btn btn-info">
                                        </form>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                  <td><a href="{{ url_for('main.articles',exhibit='program',program=pprogram[1]) }}">{{ pprogram[0] }}</a></td>
                  <td>{% if pprogram[4]=='none' or pprogram[4]=='icccon' %}暂无{% else %}<img src="{{ pprogram[4] }}" height="150" width="270" >{% endif %}</td>
                <td><h5><small>{{ pprogram[5] }}</small></h5></td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='program',program=pprogram[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning  btn-sm right"  href="{{ url_for('main.articles',exhibit='editart_program',program=pprogram[1],edit=pprogram) }}">修改</a>

                      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#program{{ pprogram[1] }}">删除</button>
                      <div class="modal fade" id="program{{ pprogram[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除该栏目以及该课类下的所有章节和所有微内容,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                         <a type="button" class="btn btn-primary  right"  href="{{ url_for('main.articles',exhibit='program',program=-1,delete=pprogram) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                  </td>

                </tr>

              {% endfor %}
              </tbody>
            </table>
            <script src="//cdn.bootcss.com/dragula/3.7.2/dragula.min.js"></script>
            <link href="//cdn.bootcss.com/dragula/3.7.2/dragula.min.css" rel="stylesheet">
            <script>
            dragula([document.getElementById('left')]);
            </script>

{#        <div class="span2">#}
{##}
{#        <ol class="nav nav-pills nav-stacked navbar-left list-group-item">#}
{##}
{#        <form method="POST">#}
{#                {{ form3.hidden_tag() }}#}
{#                {{ form3.button(class="btn btn-info btn-block") }}#}
{##}
{#        </form>#}
{##}
{#        {% for ccolumn in columns  %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"  href="{{ url_for('main.courses',exhibit='column',column=-1,delete=ccolumn) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"  href="{{ url_for('main.courses',exhibit='editclass',column=ccolumn[1],edit=ccolumn) }}">修改</a>#}
{#            <li {% if column==ccolumn[1] %} class="active"{% endif %}><a   href="{{ url_for('main.courses',exhibit='column',column=ccolumn[1]) }}">{{ ccolumn[0] }}</a></li>#}
{##}
{#        {% endfor %}#}
{#        </ol>#}
{#        </div>#}
        {% endif %}

        {% if program !=-1 and section==-1%}
            <table class="table table-condensed table-hover clearfix">
              <caption>章节列表
                    <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='addart_section',program=program) }}">添加章节+</a>
              </caption>
              <thead>
                <tr>
                    <th>序号</th>
                  <th>章节名</th>

                  <th>封面</th>
                    <th>摘要</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ssection in sections %}
                <tr>
                    <td  data-toggle="modal" data-target="#sectionindex{{ ssection[1] }}">
                            {{ ssection[6] }}
                        </td>
                        <div class="modal fade" id="sectionindex{{ssection[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            修改序号
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="contentindex" method='post' action="{{ url_for('.articles',exhibit='program',program=program) }}">
                                        序号:<input type="text" name="sectionindex" class="form-control">
                                            <input type="text" name='id' value="{{ ssection[1] }}" style="display: none">
                                            <input type="submit" class="btn btn-info">
                                        </form>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                  <td><a href="{{ url_for('main.articles',exhibit='program',program=program,section=ssection[1]) }}">{{ ssection[0] }}</a></td>

                  <td>{% if ssection[4]=='none' or ssection[4]=='bannerrr' %}暂无{% else %}<img src="{{ ssection[4] }}" height="150" width="270" >{% endif %}</td>
                  <td><h5><small>{{ ssection[5] }}</small></h5></td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.articles',exhibit='program',program=program,section=ssection[1]) }}">查看</a>
                  <a type="button" class="btn btn-warning  btn-sm right"  href="{{ url_for('main.articles',exhibit='editart_section',program=program,section=ssection[1],edit=ssection) }}">修改</a>

                      <button class="btn btn-danger btn-sm " data-toggle="modal" data-target="#section{{ ssection[1] }}">删除</button>
                      <div class="modal fade" id="section{{ ssection[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除所选章节以及该章节所有微内容,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <a type="button" class="btn btn-primary  right"  href="{{ url_for('main.articles',exhibit='program',program=program,section=-1,delete=ssection) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>


                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{#         <div class="span2">#}
{#        <ol class="nav nav-pills nav-stacked navbar-left list-group-item">#}
{#        <form method="POST">#}
{#                {{ form4.hidden_tag() }}#}
{#                {{ form4.button2(class="btn btn-info btn-block") }}#}
{##}
{#        </form>#}
{##}
{##}
{#        {% for cchapter in chapters %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=-1,delete=cchapter) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"   href="{{ url_for('main.courses',exhibit='editchapter',column=column,chapter=cchapter[1],edit=cchapter) }}">修改</a>#}
{#            <li {% if chapter==cchapter[1] %} class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='column',column=column,chapter=cchapter[1]) }}">{{ cchapter[0] }}</a></li>#}
{##}
{#        {% endfor %}#}
{#        {% endif %}#}
{#        </ol>#}
{#        </div>#}
        {% endif %}

        {% if section !=-1 and content==-1%}
            <table class="table table-condensed table-hover clearfix">
              <caption>微内容列表
                  <a type="button" class="btn btn-info btn-sm  right"href="{{ url_for('main.articles',exhibit='addart_content',program=program,section=section) }}">添加微内容+</a>
              </caption>
              <thead>
                <tr>
                    <th>序号</th>
                  <th>微内容名</th>
                    <th>封面</th>
                  <th>摘要/链接</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for ccontent in contents %}

                <tr>

                    <td  data-toggle="modal" data-target="#index{{ ccontent[1] }}">
                            {{ ccontent[7] }}
                        </td>
                        <div class="modal fade" id="index{{ccontent[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            修改序号
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="contentindex" method='post' action="{{ url_for('.articles',exhibit='program',program=program,section=section) }}">
                                        序号:<input type="text" name="contentindex" class="form-control">
                                            <input type="text" name='id' value="{{ ccontent[1] }}" style="display: none">
                                            <input type="submit" class="btn btn-info">
                                        </form>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                  <td><a href="{{ url_for('main.articles',exhibit='editart_content',program=program,section=section,content=ccontent[1],edit=ccontent[:-1]) }}">{{ ccontent[0] }}</a></td>
                    <td><img src="{{ ccontent[5] }}" width="270px" height="150px"> </td>
                  <td><h5><small>{{ ccontent[6] }}</small></h5>
{#                      <a href="{{ ccontent[4] }}" target="_blank">微内容链接</a>#}
                      </td>
                  <td>
                  <a type="button" class="btn btn-info btn-sm right" href="{{ ccontent[4] }}" target="_blank">预览</a>
                  <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.articles',exhibit='editart_content',program=program,section=section,content=ccontent[1],edit=ccontent[:-1]) }}">修改</a>

                      <button class="btn btn-danger btn-sm  " data-toggle="modal" data-target="#content{{ ccontent[1] }}">删除</button>
                      <div class="modal fade" id="content{{ccontent[1] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            警告
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        您将删除该微内容,确定删除?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <a type="button" class="btn btn-primary  right"   href="{{ url_for('main.articles',exhibit='program',program=program,section=section,delete=ccontent) }}">
                                            确定
                                        </a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{#        <div class="span2">#}
{#        <ol class="  nav nav-pills nav-stacked navbar-left list-group-item">#}

{##}
{#        {% for ccourse in courses %}#}
{#        <a type="button" class="btn btn-danger btn-xs right"   href="{{ url_for('main.courses',exhibit='column',column=column,chapter=chapter,delete=ccourse) }}">删除</a>#}
{#            <a type="button" class="btn btn-default btn-xs right"   href="{{ url_for('main.courses',exhibit='editlesson',column=column,chapter=chapter,course=ccourse[1],edit=ccourse[:-1]) }}">修改</a>#}
{#            <li><a href="{{ url_for('main.courses',exhibit='courses',column=column,chapter=chapter,course=ccourse[1]) }}">{{ ccourse[0] }}</a></li>#}
{##}
{#        {% endfor %}#}

{#        </ol>#}
{#        </div>#}

        {% endif %}
            </div>
        </div>
    {% endif %}
    {% endif %}



{% endblock %}