{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}评论管理{% endblock %}
{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-comment"></span>评论管理:</h3></div>
    {% if exhibit=='addcomment' %}
    {{ wtf.quick_form(form1) }}
    {% endif %}
    {% if exhibit=='editcomment' %}
    {{ wtf.quick_form(form2) }}
    {% endif %}

    {% if exhibit=='show_comments' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table">
                  <caption>评论列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.comments',exhibit='addcomment', page=page) }}">添加+</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>评论标题</th>
                      <th>评论内容</th>
                      <th>审核状态</th>

                      <th>所属课程</th>
                      <th>所属微内容</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for ccomment in comments %}
                        <tr>
                            <th>{{  ccomment['title'] }}</th>
                            <th>{{  ccomment['text'] }}</th>
                            <th>{% if ccomment['status']==0 %}未审核{% elif ccomment['status']==1 %}已审核{% elif ccomment['status']==2 %}未显示{% endif %}</th>

                            <th>{{ ccomment['lesson_id'] }}</th>
                            <th>{{ ccomment['content_id'] }}</th>

                            <td>

                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.comments',exhibit='editcomment',editid=ccomment['id'], page=page) }}">编辑</a>
                              <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#comment{{ ccomment['id'] }}">删除</button>
                              <div class="modal fade" id="comment{{ccomment['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该评论,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.comments',exhibit='show_comments',deleteid=ccomment['id'],page=page)}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
        {% if commentsresp.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(commentsresp.json()['all'] - 1)//25) %}

                <li {% if page==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.comments', exhibit='show_comments', page=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
