{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}文章发布{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>文章发布:</h3></div>



        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>文章列表:

                  </caption>

                  <thead>

                    <tr>
                      <th>内容名</th>

                      <th>封面</th>
                        <th>发布状态</th>
                      <th>摘要/链接</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for ccontent in contents %}

                        <tr>
                              <td><a href="{{ url_for('main.contentrelease') }}">{{ ccontent['name'] }}</a></td>

                              <td><img src="{{ ccontent['banner'] }}" height="150" width="270" ></td>
                                <td>{% if ccontent['public']==True%}已发布{% else %}未发布{% endif %}</td>
                              <td>
                                <h5><small>{{ ccontent['brief'] }}</small></h5>
                                <a href="{{ ccontent['url'] }}" target="_blank">{{ ccontent['url'] }}</a>
                              </td>
                              <td>
                                  {% if ccontent['public']==False%}
                                        <a type="button" class="btn btn-info btn-sm right" href="{{ url_for('main.contentrelease',release=[ccontent['id'],1]) }}">发布</a>
                                  {% elif ccontent['public']==True%}
                                        <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.contentrelease',release=[ccontent['id'],0]) }}">撤回</a>
                                  {% endif %}

                              </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            {% if contentresp.json()['all'] > 25 %}
            <div class="pagination">
                <ul class="pagination">

                    {% for p in range(1+(contentresp.json()['all'] - 1)//25) %}

                    <li {% if page==p + 1  %}class="active"{% endif %}>
                        <a href="{{ url_for('.contentrelease', page=p + 1) }}">{{ p + 1 }}</a>
                    </li>

                    {% endfor %}

                </ul>
            </div>
            {% endif %}
            </div>
        </div>


{% endblock %}
