{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}收藏管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>收藏管理:</h3></div>
    {% if exhibit=='addfavorite' %}
        <form method="post">

        </form>
    {% endif %}
    {% if exhibit=='editfavorite' %}
        <form method="post">

        </form>
    {% endif %}

    {% if exhibit=='show_favorites' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>收藏列表:
{#                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.prices',exhibit='addprice') }}">添加价格+</a>#}
                  </caption>

                  <thead>

                    <tr>
                      <th>收藏id</th>
                      <th>用户id</th>

                        <th>课程/素材id</th>
                        <th>课程/素材名称</th>



                    </tr>
                  </thead>
                    <tbody>
                    {% for f in favorite_records %}

                        <tr>

                            <td>{{  f['id'] }}</td>
                            <td>{{  f['user_id'] }}</td>
                            <td>{{  f['lesson']['id'] }}</td>
                            <td>{{  f['lesson']['name'] }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
        {% if favorite.json()['all'] > 25 %}
            <div class="pagination">
                <ul class="pagination">

                    {% for p in range(1+(favorite.json()['all'] - 1)//25) %}

                    <li {% if page==p + 1  %}class="active"{% endif %}>
                        <a href="{{ url_for('.favorites', exhibit='show_favorites', page=p + 1) }}">{{ p + 1 }}</a>
                    </li>

                    {% endfor %}

                </ul>
            </div>
        {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
