{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}课程发布{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>课程发布:</h3></div>



        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>课程列表:

                  </caption>

                  <thead>

                    <tr>
                      <th>课程名</th>

                      <th>封面</th>
                        <th>发布状态</th>
                      <th>浏览量</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for llesson in lessons %}

                        <tr>
                              <td><a href="{{ url_for('main.lessonrelease') }}">{{ llesson['name'] }}</a></td>

                              <td><img src="{{ llesson['banner'] }}" height="150" width="270" ></td>
                                <td>{% if llesson['public']==True%}已发布{% else %}未发布{% endif %}</td>
                              <td>{{ llesson['browses'] }}</td>
                              <td>
                                  {% if llesson['public']==False%}
                                        <a type="button" class="btn btn-info btn-sm right" href="{{ url_for('main.lessonrelease',release=[llesson['id'],1]) }}">发布</a>
                                  {% elif llesson['public']==True%}
                                        <a type="button" class="btn btn-warning btn-sm  right"   href="{{ url_for('main.lessonrelease',release=[llesson['id'],0]) }}">撤回</a>
                                  {% endif %}

                              </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            {% if lessonresp.json()['all'] > 25 %}
            <div class="pagination">
                <ul class="pagination">

                    {% for p in range(1+(lessonresp.json()['all'] - 1)//25) %}

                    <li {% if page==p + 1  %}class="active"{% endif %}>
                        <a href="{{ url_for('.lessonrelease', page=p + 1) }}">{{ p + 1 }}</a>
                    </li>

                    {% endfor %}

                </ul>
            </div>
            {% endif %}
            </div>
        </div>


{% endblock %}
