{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
{% endblock %}
{% block title %}订单管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>订单管理:</h3></div>
{#    {% if exhibit=='addprice' %}#}
{#    {{ wtf.quick_form(form1) }}#}
{#    {% endif %}#}
{#    {% if exhibit=='editprice' %}#}
{#    {{ wtf.quick_form(form2) }}#}
{#    {% endif %}#}
    {% if exhibit=='order_info' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
                <button class="btn btn-info" onclick="history.back()">返回</button>
                <p>{{ order_info|tojson }}</p>
            </div>
        </div>
    {% endif %}
    {% if exhibit=='show_orders' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>订单列表:
{#                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.prices',exhibit='addprice') }}">添加价格+</a>#}
                  </caption>

                  <thead>

                    <tr>
                      <th>订单号</th>
                      <th>订单用户id</th>
                        <th>订单名称</th>
                        <th>商品类型</th>
                        <th>支付方式</th>
                        <th>订单状态</th>
                        <th>总价</th>
                        <th>下单时间</th>
                        <th>支付时间</th>
                        <th>订单详情</th>

                    </tr>
                  </thead>
                    <tbody>
                    {% for oorder in orders %}

                        <tr>

                            <td>{{  oorder['order_no'] }}</td>
                            <td>{{  oorder['user_id'] }}</td>
                            <td>{{  oorder['order_title'] }}</td>
                            <td>
                                {% if oorder['product_type']==1 %}实物商品
                                {% elif oorder['product_type']==2 %}会员订阅
                                {% elif oorder['product_type']==3 %}课程
                                {% elif oorder['product_type']==4 %}课程章节
                                {% elif oorder['product_type']==5 %}课类
                                {% endif %}
                            </td>
                            <td>
                                {% if oorder['payment_method']==1 %}IAP
                                {% elif oorder['payment_method']==2 %}微信支付
                                {% elif oorder['payment_method']==3 %}支付宝
                                {% elif oorder['payment_method']==4 %}银联
                                {% elif oorder['payment_method']==5 %}其它
                                {% endif %}
                            </td>
                            <td>
                                {% if oorder['order_status']==0 %}已下单等待支付
                                {% elif oorder['order_status']==1 %}已下单交易关闭
                                {% elif oorder['order_status']==2 %}已下单已支付
                                {% elif oorder['order_status']==3 %}已下单已退款
                                {% elif oorder['order_status']==4 %}已下单已发货
                                {% endif %}
                            </td>
                            <td>{{  oorder['total_fee']/100.0 }}元</td>
                            <td>{{  oorder['order_time'] }}</td>
                            <td>{{  oorder['pay_time'] }}</td>
                            <td>
                              <a class="btn btn-info btn-xs  " data-toggle="modal" href={{ url_for('main.orders',exhibit='order_info',order_no=oorder['order_no']) }}>查询</a>


                            </td>



{#                            <td>#}
{##}
{#                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.prices',exhibit='editprice',editid=pprice['id']) }}">编辑</a>#}
{##}
{#                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#price{{ pprice['id'] }}">删除</button>#}
{#                              <div class="modal fade" id="price{{pprice['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <div class="modal-header">#}
{#                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                                                    &times;#}
{#                                                </button>#}
{#                                                <h4 class="modal-title" id="myModalLabel">#}
{#                                                    警告#}
{#                                                </h4>#}
{#                                            </div>#}
{#                                            <div class="modal-body">#}
{#                                                您将删除该价格,确定删除?#}
{#                                            </div>#}
{#                                            <div class="modal-footer">#}
{#                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消#}
{#                                                </button>#}
{#                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.prices',exhibit='show_prices',deleteid=pprice['id'])}}">#}
{#                                                    确定#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        </div><!-- /.modal-content -->#}
{#                                    </div><!-- /.modal -->#}
{#                                </div>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            {% if orderresp.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(orderresp.json()['all'] - 1)//25) %}

                <li {% if page==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.orders', exhibit='show_orders', page=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
