{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}价格管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>价格管理:</h3></div>
    {% if exhibit=='addprice' %}
    {{ wtf.quick_form(form1) }}
    {% endif %}
    {% if exhibit=='editprice' %}
    {{ wtf.quick_form(form2) }}
    {% endif %}

    {% if exhibit=='show_prices' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>价格列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.prices',exhibit='addprice') }}">添加价格+</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>价格</th>
                      <th>iap</th>
                        <th>操作</th>

                    </tr>
                  </thead>
                    <tbody>
                    {% for pprice in prices %}

                        <tr>

                            <td>{{  pprice['price'] }}分</td>
                            <td>{{  pprice['iap_product_id'] }}</td>
                            <td>

                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.prices',exhibit='editprice',editid=pprice['id']) }}">编辑</a>

                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#price{{ pprice['id'] }}">删除</button>
                              <div class="modal fade" id="price{{pprice['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该价格,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.prices',exhibit='show_prices',deleteid=pprice['id'])}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
