{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
{% endblock %}
{% block title %}行为记录{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>行为记录:</h3></div>
{#    {% if exhibit=='addprice' %}#}
{#    {{ wtf.quick_form(form1) }}#}
{#    {% endif %}#}
{#    {% if exhibit=='editprice' %}#}
{#    {{ wtf.quick_form(form2) }}#}
{#    {% endif %}#}

    {% if exhibit=='show_records' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    筛选
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="?act=create">增加操作</a></li>
                    <li><a href="?act=update">修改操作</a></li>
                    <li><a href="?act=delete">删除操作</a></li>
                </ul>
            </div>

        <table class="table table-condensed table-hover clearfix">
                  <caption>行为记录:
{#                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.prices',exhibit='addprice') }}">添加价格+</a>#}
                  </caption>

                  <thead>

                    <tr>
                      <th>操作者</th>
                      <th>行为</th>
                        <th>操作对象</th>
                        <th>操作时间</th>
                        <th>具体内容</th>


                    </tr>
                  </thead>
                    <tbody>
                    {% for ac in activities %}

                        <tr>

                            <td>{{  ac['operator'] }}</td>
                            <td>{{  ac['action'] }}</td>
                            <td>{{  ac['controller'] }}</td>
                            <td>{{  ac['created_at'] }}</td>





                            <td>



                                <button class="btn btn-success   " data-toggle="modal" data-target="#ac{{ ac['id'] }}">具体行为</button>
                              <div class="modal fade" id="ac{{ac['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    具体内容
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                {{  ac['params'] }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    确定
                                                </button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            {% if activitiesresp.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(activitiesresp.json()['all'] - 1)//25) %}

                <li {% if page==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.records', exhibit='show_records', page=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}