{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}标签管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-tag"></span>标签管理:</h3></div>
    {% if exhibit=='addtag' %}
    {{ wtf.quick_form(form1) }}
    {% endif %}
    {% if exhibit=='edittag' %}
    {{ wtf.quick_form(form2) }}
    {% endif %}

    {% if exhibit=='show_tags' %}
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">
                    标签列表</a>
            </li>
            <li><a href="#ios" data-toggle="tab">标签云</a></li>
        </ul>



        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div class="panel panel-default" style="margin-bottom:0;">
                    <div class="panel-body" >
                <table class="table">
                          <caption>标签列表:
                          <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.tags',exhibit='addtag') }}">添加+</a>
                          </caption>

                          <thead>

                            <tr>
                              <th>标签名</th>

                            </tr>
                          </thead>
                            <tbody>
                            {% for ttag in tags %}
                                <tr>
                                    <th>{{  ttag['name'] }}</th>


                                    <td>

                                      <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.tags',exhibit='edittag',editid=ttag['id'], page=page) }}">编辑</a>

                                        <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#tag{{ ttag['id'] }}">删除</button>
                                      <div class="modal fade" id="tag{{ttag['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">
                                                            警告
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        您将删除该标签,确定删除?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                        </button>
                                                        <a type="button" class="btn btn-primary  right"   href="{{ url_for('.tags',exhibit='show_tags',deleteid=ttag['id'],page=page)}}">
                                                            确定
                                                        </a>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                </table>
                {% if tagsresp.json()['all'] > 0 %}
                <div class="pagination">
                    <ul class="pagination">

                        {% for p in range(1+(tagsresp.json()['all'] - 1)//25) %}
        {#                    {%if p%}#}
        {#                        {% if p == pagination.page %}#}
        {#                        <li class="active">#}
        {#                             <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>#}
        {#                        </li>#}
        {#                        {% else %}#}
        {#                        <li>#}
        {#                             <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>#}
        {#                        </li>#}
        {#                        {% endif %}#}
        {#                    {% else %}#}
        {#                    <li class="disabled"><a href="#">&hellip;</a></li>#}
        {#                    {% endif %}#}
                        <li {% if page==p + 1  %}class="active"{% endif %}>
                            <a href="{{ url_for('.tags', exhibit='show_tags', page=p + 1) }}">{{ p + 1 }}</a>
                        </li>

                        {% endfor %}

                    </ul>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="ios">
            <script src="//cdn.bootcss.com/wordcloud2.js/1.0.5/wordcloud2.js"></script>
            <canvas id="canvas" class="canvas" width="2340" height="1520" style="width: 1170px; height: 760px;"></canvas>
            <script type="text/javascript">
            WordCloud(document.getElementById('canvas'), { list: {{tagscloud|tojson}} } );
            </script>
        </div>
    </div>
    {% endif %}

{% endblock %}
