{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            vids = $("[id^='plv_']");

            for(var i=0;i<vids.length;i++){
                var vid = vids[i].id;

                $.ajax({

                    url: 'https://api.kquestions.com/video/sign',
                    type: 'GET',
                    data: {"vid":vid},
                    success: function(data){

                        jQuery.ajax({
                              url: "https://player.polyv.net/script/polyvplayer.min.js",
                              dataType: "script",
                              cache: true
                        }).done(function() {
                          var player = polyvObject('#'+'plv_'+data['vid']).videoPlayer({
                                'width': '900',
                                'height': '500',
                                'vid': data['vid'],
                                'ts': data['ts'],
                                'sign': data['sign']
                            });
                        });

                    },
                    error: function(e){
                        alert('error')
                    }

                });

            }
            $("#mysubmit").click(function(){
                event.preventDefault();
                var myform = new FormData($("#uploaddata")[0]);
                myform.append('writetoken',{{ data['writetoken']|tojson }});
                myform.append('vid',{{ data['vid']|tojson }});
                myform.append('sign',{{ data['sign']|tojson }});
                $.ajax({
                    url: 'https://v.polyv.net/uc/services/rest?method=upFirstImage',
                    type: 'POST',
                    data: myform,
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function(data){
                        $.ajax({
                            url: "{{ url_for('main.videoshow',videoid=videoid) }}",
                            type: 'GET',
                            data: {'ok':'uploadok'},
                            success: function (data) {
                                alert('ok')
                            },
                            error: function(){
                                alert('buok')
                            }
                        })

                    },
                    error: function(request){
                        alert('cuowu')
                    }
                })
            })


        })
    </script>

{% endblock %}
{% block page_content %}
    <form id="uploaddata" method="post" enctype="multipart/form-data">
        <input name='Filedata' id="doc" type="file" onchange="javascript:setImagePreview();">
        <input id='mysubmit' type="submit" value="确认">
    </form>
    <div class="col-md-6">
    <img id="preview" src=""  style="display: block;height: auto;width:100%;" onclick="document.getElementById('doc').click()" />
    </div>
     <script type="text/javascript">
                    //下面用于图片上传预览功能
                    function setImagePreview(avalue) {
                    //input
                        var docObj = document.getElementById("doc");
        //img

                        var imgObjPreview = document.getElementById("preview");
                        //div
                        var divs = document.getElementById("localImag");
                        if (docObj.files && docObj.files[0] && docObj.files[0].size < 1024*1024) {
                            if (docObj.files && docObj.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var data = e.target.result;

                                    //加载图片获取图片真实宽度和高度
                                    var image = new Image();
                                    image.onload=function(){
                                        var width = image.width;
                                        var height = image.height;

                                         if(1||
                                                 width==1920 && height==1080 || width == 1280&&height==720) {
                                             alert('图片上传成功');
                                             imgObjPreview.style.display = 'block';
{#                                            imgObjPreview.style.width = '533px';#}
{#                                            imgObjPreview.style.height = '300px';#}
                                            //imgObjPreview.src = docObj.files[0].getAsDataURL();
                                            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                                            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
                                         }
                                        else{
                                             doc.value="";
                                             alert('你上传的图片不符合要求')
                                         }
                                    };
                                    image.src= data;
                                };
                                reader.readAsDataURL(docObj.files[0]);
                            } else {
                                //IE下，使用滤镜
                                docObj.select();
                                var imgSrc = document.selection.createRange().text;
                                var localImagId = document.getElementById("localImag");
                                //必须设置初始大小
                                localImagId.style.width = "533px";
                                localImagId.style.height = "300px";
                                //图片异常的捕捉，防止用户修改后缀来伪造图片
                                try {
                                    localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                                } catch (e) {
                                    alert("您上传的图片格式不正确，请重新选择!");
                                    return false;
                                }
                                imgObjPreview.style.display = 'none';
                                document.selection.empty();
                            }
                        }
                        else{
                            alert('图片大小不允许超过1M')
                        }
                        return true;
                    }
                </script>
    <div id='plv_{{ videoresp }}'></div>

{% endblock %}


